<nav class="navbar navbar-expand-lg navbar-dark fuente_navbar" style="background:#13322b; height: 35px">
    <div class="container">
        <a class="navbar-brand fuente_navbar" routerLink="/home">
            <span *ngIf="!authService.isAuthenticated()">{{ preTitle }}</span>
            <span *ngIf="authService.isAuthenticated()">{{ postTitle }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" *ngIf="authService.isAuthenticated()">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li *ngFor="let menu of menues" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [(routerLink)]="menu[1]" *ngIf="authService.isAuthenticated()">
                        {{ menu[0] }}
                    </a>
                </li>
                <li *ngIf="!authService.isAuthenticated()">
                    <a routerLink="/login" class="nav-link pr-0"><i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li *ngIf="authService.isAuthenticated()">
                    <a (click)="logout()" class="nav-link pr-0"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>